<?xml version="1.0" encoding="utf-8" ?>
<Thomas>
  <Application>
    <Debug>true</Debug>
  </Application>
  <Modules>
    <Module id="ArduinoSensorsDriver">
      <Config>
        <ArduinoId>0</ArduinoId>
        <Baudrate>115200</Baudrate>
      </Config>
    </Module>
    <Module id="ArduinoLidarDriver">
      <Config>
        <ArduinoId>1</ArduinoId>
        <Baudrate>115200</Baudrate>
      </Config>
    </Module>
  </Modules>
</Thomas>